RewriteEngine On

RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^(.+?)/?$ $1.php [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+?)/([0-9]+)/?$ $1.php?id=$2 [NC,L]